* {
margin: 0;
padding: 0;
}

#img-background {
    zoom: 1;
    display: block;

    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

#dropdown {
    zoom: 1;
    display: block;

    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

#list-label {
	border: 0.1vh solid gray;
	background-color: darkgray;
	text-align: left;
	opacity: 0.9;
}


/*

#root {
	display: flex;
}

#img-box {
display: grid;
height: 100%;
}

#img-background {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
}
*/


/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}
